*/,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #231927;
}
/*html, body{
    width: 100%;
    height: 100%;
}*/
/*.lamp{
    position: relative;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}*/
div.lamp{
    width: 100%;
    height: 500px;
}
#lamp{
    width: 100%;
    height: 500px;
}
input[name="switch"], input[name="switch"] + label{
    position: absolute;
    bottom: 3rem;
    width: 4rem;
    height: 4rem;
}
input[name="switch"]+ label { right: 3rem;}
input[name="switch"]{
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}
input[value="on"]{
    right: 4rem;
}
input[value="off"]{
    right: 11rem;
}
/* input[name="switch"]+ label {
    text-align: center;
}*/
/*[class*="entypo-"]::before {
    line-height: 4rem;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'entypo',sans-serif;
}*/
input [value="on"]:checked{
    right: -4rem;
}
input [value="on"]:checked + input [value="off"]{
    right: 3rem;

}
img .on{
    right: -4rem;
}
img .off{
    right: 3rem;

}
/* cable que sostiene el foco*/
.lamp{
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-repeat: no-repeat;
    background-size: .15rem 10rem, .4rem .8rem, .7rem 2rem;
    background-position: 50% 1%, 50% 33%, 50% 37%;
}

.lamp ::before, .lamp ::after{
    content: '';
    position: absolute;

}
/*Base foquito que se prende y apaga*/
.lamp ::before{ 
    /*left: 36.2rem; /*-1.65rem*/
    bottom: -5.2rem; /*-4rem*/
    width: 4rem; 
    height: 4rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 2px -2px 10px rgba(255, 255, 255, 0.07);
    transition: all .15s;
}
.gonna-give-light, .gonna-give-light ::before {
    position: absolute;
}
.gonna-give-light{
    position: relative;
    margin: 0 auto;
    top: 10.05rem;
    left: .25rem;
    width: 74px;
    height: 1.5rem;
    /*border-right: .2rem solid rgba(255, 255, 255, 0.05);
    height: 1.5rem;
    border-right: .2rem solid rgba(255, 255, 255, 0.05);*/

}
.gonna-give-light ::before{
    content: '';
    top: 1.5rem;
    left: -.35rem;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    border: .2rem solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0);
    }
    input[value="on"]:checked ~ .lamp ::before{
        background: rgba(255, 255, 255, 1);
        box-shadow:0px 2px 10px rgba(255, 255, 255, 0.8),
                   0px 5px 80px rgba(255, 255, 255, 0.8),
                   0px 8px 150px rgba(255, 255, 255, 0.6),
                   0px 2px 300px rgba(255, 255, 255, 0.6);
    }
    div img{
        position: absolute;
    }
    img.on{
        
        width: 150px;
        right: 1rem;
        bottom: 1rem;
    }
    img.off{
        
        width: 150px;
        right: 8rem;
        bottom: 1rem;
    }